{{#if this.siteSettings.private_topics_enabled}}
  <section>
    <h3>{{i18n "category.private_topics.title"}}</h3>
  </section>
  <section class="field category_private_topics_enabled">
    <label>
      <Input
        @type="checkbox"
        @checked={{this.args.outletArgs.category.custom_fields.private_topics_enabled}}
      />
      {{i18n "category.private_topics.enabled"}}
    </label>
  </section>

  {{#if this.args.outletArgs.category.custom_fields.private_topics_enabled}}
    <section class="field">
      <label>
        {{i18n "category.private_topics.allowed_groups_description"}}
      </label>
      <div class="value">
        <GroupChooser
          @content={{this.allGroups}}
          @value={{groupIds}}
          @labelProperty="name"
          @onChange={{action "setAllowedGroups"}}
        />
      </div>
    </section>
  {{/if}}
{{/if}}
